@model IEnumerable<EFCoreDemo.Models.User>

@{
    ViewBag.Title = "用户";
}
<table class="table">
    <tr>
        <th>Id</th>
        <th>用户名</th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UserName)
            </td>
        </tr>
    }
</table>