@model IEnumerable<EFCoreDemo.Models.User>

@{
    ViewBag.Title = "用户";
}
<ul class="nav navbar-nav">
    <li><a asp-area="" asp-controller="User" asp-action="Register">Register</a></li>
</ul>
<table class="table">
    <tr>
        <th>Id</th>
        <th>用户名</th>
        <th>操作</th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UserName)
            </td>
            <td>@Html.ActionLink("编辑","Register","User")</td>
        </tr>
    }
</table>