@model EFCoreDemo.Models.User
@{
    ViewBag.Title = "用户详情";
}
<div class="form-group">
    <label asp-for="UserName" class="col-md-2 control-label">用户名：</label>
    <div class="col-md-10">
        <input class="form-control" asp-for="UserName" />
        <span asp-validation-for="UserName" class="text-danger"></span>
    </div>
    <label asp-for="Password" class="col-md-2 control-label">密码：</label>
    <div class="col-md-10">
        <input class="form-control" asp-for="Password" />
        <span asp-validation-for="Password" class="text-danger"></span>
    </div>
    <div class="col-md-offset-2 col-md-10">
        <input type="submit" value="返回" class="btn btn-default" />
    </div>
</div>